@model Product 

<div>
    <p>
        <form action="" method="post">
            <input type="hidden" asp-for="@Model.ProductId">
            <button type="submit" class="btn btn-danger">Evet</button>
            <a href="/" class="btn btn-primary">İptal</a>
        </form>
    </p>
</div>

